<nav class="nav flex-column">
      <a class="navbar-brand" href="/">
            <img src="assets/images/logos/PID_digitallogo.png" width="100%">
      </a>
            
      <a class="nav-link" routerLink="/welcome" >Welcome</a>
      <a class="nav-link" routerLink="/signallock">Signal Lock</a>
      <a class="nav-link" routerLink="/dinosaur">Dinosaur</a>

</nav>


<!--
<div>
            <a href="/"> <img src="assets/images/logos/PID_digitallogo.png" class="img-responsive"> </a>
      </div>
      
      
      <nav>
            <ul>
                  <li><a routerLink="/welcome" >Welcome</a></li>
                  <li><a routerLink="/signallock">Signal Lock</a></li>
                  <li><a routerLink="/dinosaur">Dinosaur</a></li>
      
            </ul>
      </nav>
      
-->