<header>
  <app-header></app-header>

</header>

<main>

    <mat-sidenav-container mode ="push" class="main-container">
        <mat-sidenav mode="push" opened="true" #sidenav class="example-sidenav">
            <app-sidenav>
                
            </app-sidenav>
        </mat-sidenav>
      
       <div class="example-sidenav-content">
          <button type="button" mat-button (click)="sidenav.open()">
            Menu
          </button>

          <app-main>
                
            
          </app-main>


      </div>
      
    </mat-sidenav-container>

</main>

<footer class="text-right">
  This is a footer
</footer>
  

  

